{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{{block.super}}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <img class="img" src="/static/media/images/registration.jpg"/>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3" id="sign-btn">Sign In</button>
                        </form>

              <p class="text-center" style=" margin-top: 1rem;">Not a member? <a data-toggle="tab" style="text-decoration: none; color: #305a08;" href="{% url 'register' %}"><strong>Sign Up</strong></a></p>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}