<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Bootstrap Example</title>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-light" style="padding-top:1px; font-family: 'Cormorant Garamond', serif;">
		<div class="container-fluid">
			<a class="navbar-brand text-center" href="{% url 'home/' %}"
				style="font-family: 'Sarpanch', sans-serif; letter-spacing: 1.8px; font-size: 1.5rem; padding: 0.5rem;"></span> H<span><i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye"></i></span>D <br>WATCH</a>
			<button class="navbar-toggler btn btn-outline-success" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation" label="Menu">
				<span><i class="fa-solid fa-circle-chevron-down fa-xl" style="color: #305a08;"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 1rem; font-family: 'Chivo', sans-serif; font-weight: 700;">
					<li class="nav-item">
						<a class="nav-link active" href="{% url 'home/' %}" style="color: #305a08;"> Home</a>
					</li>					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'add post' %}" style="color: #305a08;"> Post</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown"
							role="button" aria-expanded="false" style="color: #305a08;">My
							Neighborhood</a>
						<ul class="dropdown-menu col-md-4" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'business' %}">Businesses</a></li>
							<li><a class="dropdown-item" href="{% url 'police' %}">Police Department</a></li>
							<li><a class="dropdown-item" href="{% url 'health' %}">Health Department</a></li>
							<li><a class="dropdown-item" href="{% url 'add hood' %}">Add Neighborhood</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'user profile' %}" style="color: #305a08;">My Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">
							Logout</a>
					</li>
				</ul>
				<form class="d-flex gap-1" role="search" action="{% url 'search' %}" method="GET">
					<input class="form-control me-2 " type="text" placeholder="Search" name="name" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>