{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{{block.super}}
<body class="container">
    <header>
        <div class="overlay" style="padding-top: 5em; padding-bottom: 5em; font-family: 'Chivo', sans-serif;">
        <h1 class="navbar-brand text-center" href="{% url 'home/' %}" style="font-family: 'Sarpanch', sans-serif;font-size: 3rem; padding: 0.5rem;"></span> H<span><i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye"></i></span>D <br>WATCH</h1>
        <h2>Welcome! Let's get started!</h2>
        <h4>Read Posts or add what <a href="{% url 'add hood' %}" style="text-decoration: none;">neighborhood</a> you come from so as to get the full experience.</h4>
        </div>
    </header>
</body>
<div class="container">
    <div class="row" style="margin: 2%;">
        <h2 class="text-center">Posts</h2>
        <div class="col">
            {% for new_post in posts %}
            <div class="card" style="margin: 2%;">
                <div class="card-body">
                    <p>{{new_post.post}}</p>
                    <small style="color: green;"><i class="fa-solid fa-user"></i> By {{new_post.username | capfirst}}</small><br>
                    <small style="color: green;"><i class="fa-solid fa-location-pin"></i> {{new_post.neighborhood}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="col">
            <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Add Your Neighborhood/Estate</strong>
                    <small></small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form%}
                        <button type="submit" class="btn btn-success">Add</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}